<script type="text/javascript">
        //$.ajax({
        //    url: 'http://sv12sql12ba4.cloudapp.net/api/Values',
        //    type: "GET",
        //    dataType: "json",
        //    success: function (data) {
        //        var activeControllers = GetActiveController();
        //        BuildControllerTable(data, activeControllers);
        //    },
        //    error: function (jqXHR, textStatus, errorThrown) {
        //        var msg = "<p>Failed: " + jqXHR + "</p><p>" + errorThrown + "</p><p>Status: " + textStatus + "</p>";
        //        alert(msg);
        //    }
        //});
        //function populatedata(data)
        //{
        //    for (var key in data)
        //    {
        //        $("#test").append(data[key]);
        //    }
        //}
</script>
<div id="test">

</div>