
    <div class="row">
        <div class="col-md-4 col-sm-12 text-center">
            <div class="thumbnail tile tile-medium well" onclick="LoadControl('salesorder')">
                <a href="#">
                    <h3>SALES ORDERS</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 text-center">
            <div class="thumbnail tile tile-medium well" onclick="LoadControl('pos')">
                <a href="#">
                    <h3>INVOICES</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 text-center">
            <div class="thumbnail tile tile-medium well" onclick="LoadControl('chart')">
                <a href=" #">
                    <h3>CHARTS</h3>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 text-center">
            <div class="thumbnail tile tile-medium well">
                <a href="#">
                    <h3>INVENTORY</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 text-center">
            <div class="thumbnail tile tile-medium well">
                <a href="#">
                    <h3>DATA LOADING</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 text-center">
            <div class="thumbnail tile tile-medium well">
                <a href="#">
                    <h3>PAYROLL</h3>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 text-center">
            <div class="thumbnail tile tile-medium well">
                <a href="#">
                    <h3>STARTUP WIZARD</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 text-center" >
            <div class="thumbnail tile tile-medium well">
                <a href="#">
                    <h3>BUDGET</h3>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 text-center">
            <div class="thumbnail tile tile-medium well">
                <a href="#">
                    <h3>ETC.</h3>
                </a>
            </div>
        </div>
    </div>
